/*
 * 
 * Some best practice stuff for development. 
 * If it isn't a normalize or reset thing. It goes here
 * 
*/


/* =============================================================================
   Bits and pieces from http://www.paulrhayes.com/2010-08/useful-css-snippets/
   ========================================================================== */

input[type=search] {
		-webkit-appearance: none;
}

input[type=search]::-webkit-search-decoration {
	display: none;
}

text-rendering: optimizeLegibility;

/* =============================================================================
	http://twitter.com/#!/shawnjohnston/status/119136576906334209
   ========================================================================== */

body {
	-webkit-text-size-adjust: none;
}


/* =============================================================================
  	Some H5BP Stuff
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { 
	background: #fe57a1;
	color: #fff; 
	text-shadow: none; 
}

::selection { 
	background: #fe57a1; 
	color: #fff; 
	text-shadow: none; 
}




