html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
	* Remove text-shadow in selection highlight: h5bp.com/i
	* These selection declarations have to be separate
	* Also: hot pink! (or customize the background color to match your design)
	* Yes I not a reset but for now this is the best place for it. 
 */

::-moz-selection { 
	background: #fe57a1; 
	color: #fff; 
	text-shadow: none; 
}

::selection { 
	background: #fe57a1; 
	color: #fff; 
	text-shadow: none; 
}